.inner_c {
    margin: 0 auto;
    width: 800px;
}

/* 保险公积金左侧小图标 */
.cal {
    margin: 0 0 0 32px;
    /* margin: 0 auto; */
    width: 580px;
}

.cal .right {
    margin: 0 10px;
}

.cal h1 {
    font: 700 20px/25px "simsun";
    margin: 10px;
}

.cal li {
    padding: 2px 0;
    position: relative;
}

.cal li span {
    display: inline-block;
    width: 90px;
}

.cal select,
.cal input {
    height: 25px;
}

.cal input {
    border: 1px solid #000;
}

/* 计算按钮 */
.cal .jiSuan {
    margin: 0 20px 0px 90px;
}

.cal .jiSuan,
.cal .reset {
    width: 50px;
    height: 30px;
}

.cal .taxShuoDe {
    width: 200px;
}

.cal button {
    display: block;
    position: relative;
    background: #7EBF4F;
    padding: 5px;
    float: left;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.cal button:hover {
    background-color: #a00;
}

.cal button:active {
    background-color: #444;
}

.cal .treeIcon {
    width: 32px;
    height: 32px;
    background: url(../images/32px.png) no-repeat -32px 0;
    position: absolute;
    left: -32px;
    top: 0;
}

.cal .jiShu {
    width: 40px;
}

.cal .biLi {
    width: 40px;
}

.example {
    width: 580px;
}
.example h1 {
    font: 500 20px/25px "sim sun";
}

.example h2 {
    font: 500 15px/20px "sim sun";
}