.inner_c {
    margin: 0 auto;
    width:800px;
}
.cal {
}
.cal .right{
    margin: 0 10px;
}
.cal h1{
    font: 700 20px/25px "simsun";
    margin: 10px;
}
.cal li {
    height:30px;
    line-height: 30px;
    margin: 2px 0;
}

.cal li span {
    display: inline-block;
    width: 90px;
}

.cal select,
.cal input {
    height: 25px;
}
.cal input {
    border: 1px solid #000;
}

.cal .jiSuan {
    margin: 0 20px 0px 90px;
}
.cal .jiSuan,
.cal .reset {    
    width:50px;
    height: 30px;
}

.cal .taxShuoDe {
    width: 200px;
}