.shuilvbiao {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 0;
}
.shuilvbiao table {
    width: 560px;
    margin: 0 auto;
}
.shuilvbiao table,
.shuilvbiao th,
.shuilvbiao td
{
    border: 1px solid #ccc;
    text-align: center;
}

.shuilvbiao th{
    background-color:#ddd;
}

.shuilvbiao h1 {
    font: 700 12px/20px "microsoft yahei";
}
.shuilvbiao h1,
.shuilvbiao span {
    padding: 0 10px;
    display: block;
}